<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Hep Desk - Dicas de um DEV</h1>

        <img src="assets/img/login-image.svg" alt="Help Desk - dicas de um dev">

        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input [(ngModel)]="creds.email" 
                 [formControl]="email"
                 required="true"
                 name="email" 
                 type="email" 
                 matInput placeholder="Ex. fulano@gmail.com">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="creds.senha" 
                   [formControl]="senha"
                   required="true"
                   name="senha" 
                   type="password" 
                   matInput placeholder="Ex. 123" >
          </mat-form-field>

          <button [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    </form>
</div>